.collection .collection-item.avatar {
    min-height: 0px;
} 

.collapsible span.badge {
    margin-left: 5px;
}

.dropdown-oidc {
    top: 64px !important;
    width: 200px !important;
    left: unset !important;
    right: 10px !important;
    cursor: unset !important;
    height: unset !important;
}

.dropdown-oidc-collection {
    border: unset !important;
    margin: unset !important;
}

.dropdown-oidc-collection .collection-item {
    padding: 10px !important;
}

li.dropdown-oidc-collection{
    padding-left: 72px !important;
}

.dropdown-oidc-collection .title {
    color: unset !important;
    padding: unset !important;
}