.collection .collection-item.avatar {
    min-height: 0px;
} 

.collapsible span.badge {
    margin-left: 5px;
}

.dropdown-oidc {
    top: 64px !important;
    width: max-content !important;
    left: unset !important;
    right: 10px !important;
    cursor: unset !important;
    height: unset !important;
}
.dropdown-oidc-content {
    padding: unset !important;
}

.dropdown-oidc-collection {
    border: unset !important;
    margin: unset !important;
}

li.dropdown-oidc-collection{
    padding-left: 72px !important;
}

.dropdown-oidc-title {
    padding: unset !important;
    color: unset !important;
}

.overview-page {
    color: unset !important;
}

.user-preauthkey-datepicker {
    width: max-content !important;
}